.user-about {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0;
    align-items: center;

    .user-repo-btn {
        width: 100%;
    }

    .user-description {
        max-width: 440px;
        text-align: left;
        color: #777;
        margin: 20px 0;
    }
}